<html>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
        body{
            background-color:antiquewhite;
            background-size:1400px;
            background-repeat:no-repeat;
            font-size:35px;
        }
        h1{
            font-size:50px;
            text-align:center;
           
        }
    </style>
    <title>
        CANDIDATES
    </title>
    <body>
        <div ng-app="MyJob" ng-controller="MyJcntrl">
            <!-- <form action="" method="POST">
            </form> -->
             <h1>
                LIST OF CANDIDATES
             </h1>
            <!--
            <p>Enter to filter based on company :  
            <input type="text" ng-model="fil">
            <br>
        </p>
            <table border="1">
                <th>Date</th>
                <th>Name of job</th>
                <th>Place</th>
                <th>Last date</th>
                <th>Elgibility</th>
                <th>Salary</th>
                <tr ng-repeat="x in jobs | filter:fil">
                    <td>{{ x.Date }}</td>
                    <td>{{ x.name }} </td>
                    <td>{{ x.Place }}</td>
                    <td>{{ x.Last }} </td>
                    <td>{{ x.Elgi }} </td>
                    <td>{{ x.sal }}</td>
                </tr>
            </table> -->
        </div>
    </body>
    </html>